{% extends "base.html" %}

{% block content %}
{% include "top-space.html" %}

{{ output | safe }}

{% if is_user_found == True %}
<div class="alert alert-info">
  <strong>Awesome!</strong> You have already created an account.
</div>
{% elif is_invitation_found == False %}
<div class="alert alert-danger">
  <strong>Oops!</strong> You do not have an invitation to join this website.
</div>
{% else %}
<h3>Account type: {{ user_type|title }}</h3>

<form action="" method="post">
{% csrf_token %}

<div class="input-group mb-3">
<div class="input-group-prepend">
    <span class="input-group-text">Email:</span>
</div>
<input type="text" id="email" name="email" value="{{ email }}" class="form-control" placeholder="Type your email here" autocomplete="off">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
    <span class="input-group-text">Username:</span>
</div>
<input type="text" id="username" name="username" value="{{ username }}" class="form-control" placeholder="Type your username here" autocomplete="off">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
    <span class="input-group-text">First name:</span>
</div>
<input type="text" id="first_name" name="first_name" value="{{ first_name }}" class="form-control" placeholder="Type your first name here" autocomplete="off">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
    <span class="input-group-text">Last name:</span>
</div>
<input type="text" id="last_name" name="last_name" value="{{ last_name }}" class="form-control" placeholder="Type your last name here" autocomplete="off">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
    <span class="input-group-text">Password:</span>
</div>
<input type="password" id="password" name="password" value="{{ password }}" class="form-control" placeholder="Type your password here" autocomplete="off">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
    <span class="input-group-text">Confirm password:</span>
</div>
<input type="password" id="confirm_password" name="confirm_password" value="{{ confirm_password }}" class="form-control" placeholder="Type your password again here" autocomplete="off">
</div>

<p><button type="submit" class="btn btn-primary">Submit</button></p>
</form>
{% endif %}

<p>&nbsp;</p>

{% endblock content %}