{% extends "base.html" %}

{% block content %}
{% include "top-space.html" %}

{{ output | safe }}

<form action="" method="post">
{% csrf_token %}

<div class="input-group mb-3">
<select name="category_id" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  {{ category_options | safe }}
</select>
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
    <span class="input-group-text">Name:</span>
</div>
<input type="text" name="name" class="form-control" placeholder="Type your sub-category name">
</div>

<p><button type="submit" class="btn btn-primary">Submit</button></p>
</form>

<p>&nbsp;</p>

{% endblock content %}