{% extends "base.html" %}

{% block content %}

<p>1. <a href="{% url 'supervisor:supervisor-view-beneficiaries' %}">View beneficiaries</a></p>
<p>2. <a href="{% url 'supervisor:supervisor-add-beneficiary' %}">Add beneficiary</a></p>
<p>3. <a href="{% url 'supervisor:supervisor-view-donations' %}">View donations</a></p>
<p>4. <a href="{% url 'supervisor:supervisor-add-donation' %}">Add donation</a></p>
<p>5. <a href="{% url 'supervisor:supervisor-delivered-donations' %}">Delivered donations</a></p>
<p>6. <a href="{% url 'supervisor:supervisor-deliver-donation' %}">Deliver donation</a></p>

<p>&nbsp;</p>

{% endblock content %}