{% extends "base.html" %}

{% block content %}
{% include "top-space.html" %}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Sl.</th>
            <th>Case ID</th>
            <th>Category</th>
            <th>Beneficiary ID.</th>
            <th>Beneficiary Name</th>
            <th>Amount (BDT)</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
{{ output | safe }}
    </tbody>
</table>

<p>&nbsp;</p>

{% endblock content %}